name: assignment-test

on:
  push:
    branches:
      - '*'   # runs on any branch
    tags-ignore:
      - '*'

jobs:
  full-test:
    container: cuaesd/aesd-autotest:24-assignment7-buildroot
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run AESD autotest
          ./assignment-autotest/test/assignment8-buildroot/runqemu.sh

